**Q1** If my_list=[1, 7, 5, 4, 3, 2]. Print the following\
in the order given (each on a separate line):

- The second element in the list.
- The third element in the list.
- The first element in the list.
- The length of the list.

In [2]:
my_list = [1, 7, 5, 4, 3, 2]
print(my_list[1])
print(my_list[2])
print(my_list[0])
print(len(my_list))

7
5
1
6

**Q2** Implement the following two functions:

`check_list_empty(my_list)` should\
return a boolean representing whether the\
list is empty or not.

`check_element_in_list(my_list, element)` should\
return a boolean representing whether the element\
is present in the list or not. The list may contain\
integers or strings.

In [4]:
def check_list_empty(my_list: list) -> bool:
  return len(my_list) > 0

def check_element_in_list(my_list: list, element) -> bool:
  return element in my_list

In [5]:
#test
my_list = [1,2,3,4,"Apple"]
my_list2 = []

print(f'True: {check_list_empty(my_list)}')
print(f'False: {check_list_empty(my_list2)}')

print(f'True: {check_element_in_list(my_list, "Apple")}')
print(f'True: {check_element_in_list(my_list, 2)}')
print(f'False: {check_element_in_list(my_list, 5)}')

True: True
False: False
True: True
True: True
False: False

**Q3** Implement the function `count_x(nums, x)`. It accepts\
a list of integers nums and an integer x. The function\
should return the number of times the integer `x` \
appears in the list `nums`.

In [6]:
def count_x(nums: list, x: int) -> int:
  count = 0
  for i in nums:
    if i == x:
      count += 1
  return(count)

In [7]:
#test
nums = [1,1,1,2,3,4,5]

print(f'3: {count_x(nums,1)}')
print(f'1: {count_x(nums,2)}')
print(f'0: {count_x(nums,6)}')

3: 3
1: 1
0: 0

**Q4** Implement the following functions below:

- `get_sum(my_list)` should return the sum of\
  all the elements in the list.
- `get_min(my_list)` should return the smallest\
  element in the list.
- `get_max(my_list)` should return the largest\
  element in the list.
  
You may assume the list passed in will always\
have at least one element.

If you want a challenge, try to implement these\
functions without using the built-in `sum()`, \
`min()`, and `max()` functions. Instead, you can\
use a loop to iterate through the list and keep\
track of the sum, minimum, and maximum.

In [8]:
#your code here
def get_sum(my_list: list) -> int:
  sum = 0
  for x in (my_list):
    sum += x
  return sum

def get_min(my_list: list) -> int:
  min = my_list[0]
  for x in my_list:
    if x < min:
      min = x
  return min

def get_max(my_list: list) -> int:
  max = my_list[0]
  for x in my_list:
    if x > max:
      max = x
  return max
# do not modify below this line
print(get_sum([1, 2, 3, 4, 5]))
print(get_sum([5, 4, 5, 6]))

print(get_min([7, 3, 4, 5]))
print(get_min([5, 4, 5, 6]))

print(get_max([7, 3, 4, 5]))
print(get_max([5, 4, 5, 6]))

15
20
3
4
7
6

**Q5** Implement a function called `append_to_list(my_list, elements)`.\
It should append each number from elements to the end of\
`my_list` and return the modified list.

In [10]:
#your code here
def append_to_list(my_list: list, elements: list) -> list:
  for x in elements:
    my_list.append(x)
  return my_list
# do not modify below this line
print(append_to_list([1, 2, 3], [4, 5]))
print(append_to_list([], [1, 2, 3, 4]))

[1, 2, 3, 4, 5]
[1, 2, 3, 4]

**Q6** Implement the following two functions:

- `remove_from_list(my_list, index)`. It should remove the element\
  at the given index from `my_list` and return the modified list.
- `pop_n_from_list(my_list, n)`. It should pop the last `n` elements\
  from `my_list` and return the modified list.
  
You may assume that the index given to `remove_from_list`\
will always be valid (i.e., it will be within the\
bounds of the list).\
You may also assume that the number of elements to pop from the list\
in `pop_n_from_list` will always be less than or equal to the length of the list.

In [16]:
#your code here

def remove_from_list(my_list: list, index: int) -> list:
  del my_list[index]
  return my_list

def pop_n_from_list(my_list: list, n: int) -> list:
  for x in range(n):
    my_list.pop()
  return my_list

# don't modify below this line
print(remove_from_list([1, 2, 3, 4, 5], 2))
print(remove_from_list([1, 2, 3, 4, 5], 0))
print(remove_from_list([1, 2, 3, 4, 5], 4))

print(pop_n_from_list([1, 2, 3, 4, 5], 2))
print(pop_n_from_list([1, 2, 3, 4, 5], 0))
print(pop_n_from_list([1, 2, 3, 4, 5], 5))

[1, 2, 4, 5]
[2, 3, 4, 5]
[1, 2, 3, 4]
[1, 2, 3]
[1, 2, 3, 4, 5]
[]

**Q7** Implement the `find_index(nums, target)` function. It\
should return the index of the first occurrence of the target number\
in the list. You may assume that the target number will always\
be present in the list.

If you want a challenge, try to implement the function without\
using the built-in `index()` method.

In [17]:

#Write your code here
def find_index(nums: list,target: int) -> int:
  x = 0
  for i in nums:
    if i == target:
      return x
    else:
      x += 1
# don't modify code below this line
print(find_index([1, 2, 3, 4, 5], 3))
print(find_index([1, 2, 3, 4, 5, 3], 3))
print(find_index([1, 2, 3, 4], 1))
print(find_index([1, 3, 4, 2], 2))

2
2
0
3

**Q8** Implement the function `get_last_three_elements(my_list)`.\
It should return a list containing the last three elements\
of `my_list`. You may assume that the length of\
`my_list` will always be at least three.

In [27]:
#your code here

def get_last_three_elements(my_list: list) -> list:
  last_three = []
  for x in range(len(my_list) - 3,len(my_list)):
    last_three.append(my_list[x])
  return last_three

# do not modify below this line
print(get_last_three_elements([1, 2, 3]))
print(get_last_three_elements([1, 2, 3, 4, 5]))
print(get_last_three_elements([1, 2, 3, 4, 5, 6, 7, 8, 9]))

[1, 2, 3]
[3, 4, 5]
[7, 8, 9]

**Q9** Implement a function `create_pair(name, age)`, which\
should combine the `name` and `age` parameters into a tuple\
and return it. The tuple should contain the `name` as\
the first element and the `age` as the second element.

In [30]:
#Your Code here
def create_pair(name: str, age: int) -> tuple:
  return (name, age)
# do not modify code below this line
print(create_pair("Alice", 25))
print(create_pair("Bob", 30))
print(create_pair("Charlie", 35))

('Alice', 25)
('Bob', 30)
('Charlie', 35)